PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_NAME=dealflow
DB_USER=dqplus
DB_PASSWORD=hackathondqplus
DB_SSL=false

OPENAI_API_KEY=
OPENAI_BASE_URL=https://mkp-api.fptcloud.com
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_DIM=1536
